{% extends "webapp/base.html" %} {% block content %} 

{% if user.is_authenticated %}

<div class="container">
  <h3 class="p-2">Selamat datang {{uss}} !</h3>
<a href="{% url 'addCerita' %}" class="btn btn-success mb-2">Tambah Cerita</a>
    <table class="table table-hover">
        <thead class="table-dark text-center">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Judul</th>
            <th scope="col">Konten</th>
            <th scope="col">Detail</th>
          </tr>
        </thead>
        <tbody>
            {% for cerita in ceritas  %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td >{{cerita.judul}}</td>
                <td class="col-sm-5">{{cerita.konten | truncatechars:100}}</td>
                <td class="text-center"><a href="{% url 'detail' cerita.id %}" class="btn btn-success">Detail</a></td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% else %}
<h3>Silahkan Login</h3>
{% endif %}

{% endblock content %}
